    <!-- 锁屏遮罩 -->
    <div id="lock-overlay" class="lock-overlay" style="display:none;">
        <div class="lock-box">
            <div class="lock-icon"><img src="/static/icons/svgs/guding.svg" width="64" height="64" style="filter:invert(1) brightness(0.8);"></div>
            <div class="lock-title">屏幕已锁定</div>
            <input type="password" id="lock-password" class="lock-input" placeholder="请输入密码">
            <button class="btn-lock-unlock" id="btn-unlock">解锁</button>
            <button class="btn-lock-close" id="btn-lock-close">关闭程序</button>
            <div id="lock-error" class="lock-error" style="display:none;"></div>
        </div>
    </div>
